.btn-primary {
    background-color:#E7E9ED;
}
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }
body {
  background-color: #e9eaed;
  font-family: helvetica, arial, sans-serif;
  margin: 0; }
  article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block; }
container {
    border:1px solid #103480;
  }
.navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  background-color: #3b5998;
  border-bottom: 1px solid #103480;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
  height: 42px;
  width: 100%; }
  .navbar button {
    height: 24px;
    cursor: pointer; }
}

a {
  color: inherit; }
p{
  font-size: 9px;
}

button {
  padding: 0; }
  html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }
  article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block; }

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

progress {
  vertical-align: baseline; }

template,
[hidden] {
  display: none; }
.navbar .navbar-brand {
position: relative;
top:-3px;
}
.navbar .navbar-brand img {
height: 25px;
}
.navbar-form {
  margin-top: 12px;
  margin-bottom: 12px;
  position: relative;
  left: -25px;
}
.navbar-form input {
height: 25px;
width: 300px;
}
.navbar-form button {
  height: 24px;
  position: relative;
  left: -10px;
  background-color: rgb (244 245 248);
  width: 40px;
  cursor: pointer; }
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText; }

  [type="search"] {
      -webkit-appearance: textfield;
      /* 1 */
      outline-offset: -2px;

  .navbar .navbar-nav li a {
  color: #fff;
  }
  .navbar .navbar-nav li a: hover {
  color:#fff;
  background-color:#334E8A;
  }
  .navbar .navbar-nav li a span {
  color: #16223D;
  font-size: 20px;
  }
  #main {
    margin-top: 50px;
  }
  #cover {
    background: #fff;
    height: 330px;
    position: relative;
  }
  #cover-image {
  width:100%;
  }
  #cover-overlay {
    position: absolute;
    bottom: 50px;
    width: 100%;
  }
  #profile-image {
    position: relative;
    top: 45px;
    left: 10px;
    width:200px;
  }
  #profile-name {
    position: relative;
    font-size: 11px;
    top:130px;
    text-decoration: bold;
  }
  #profile-buttons button{
  margin-right: 10px;
  top:150px;
  float:right;
  position:relative;
  text-align:right;
  }
  #extra-links {
    height: 48px;
  display:block;}
  #extra-links > div {
    height:100%;
  }
  #extra-links .btn-group {
    height: inherit;
  }
  #extra-links a {
    height:inherit;
    border: none;
    border-radius: 0;
    border-left: 1px solid gray;
  }
  #extra-links .last-button {
    border-right: 1px solid gray;
  }
  #main-content{
    margin-top:20px;
  }
  #info{
    background-color:#fff;
    padding: 10px;
    width: 250px;
    border: 1px solid #dfe3ee;
  }

  h2 {
    font-weight:normal;
    font-size: 16px;
    margin-top: 0px;
  }
  .border-radius {
  border: 1px solid;
  border-color: #e5e6e9 #dfe0c4 #d0d1d5;
  border-radius: 3px;
  }
  #new-post {
  background-color: #fff;
  padding-bottom: 10px;
  overflow: auto;
  width:100%;
  }
  #new-post .btn-group a{
    border: none;
    background:none;
    padding-right: 10px;
    padding-left: 10px;
    border-left: 1px solid #E4E5E4;
  }
  #new-post .btn group a.first-button {
    border:none;
  }
  #new-post .btn-group a:hover {
    background: none;

  }

  #post-form {
  padding: 10px;
  overflow: auto;
  width:100%
  border-bottom: 1px solid #DCDEE2;
  }
  #status {
  border:none;
  resize:none;
  float: left;
  position: relative;
  left: 10px;
  top: -10px;

  }
  .profile-thumbnail {
    border: 1px solid #CCCDCC;
    float: left;
  }
  #new-post .btn-group {
    background-color: #F5F6F9;
    border-bottom: 1px solid #E4E5E4;
    width: 100%
  }
